
@model WorkRequest
@{

    ViewBag.Title = Model.Id == 0 ? "Создание Заявки" : "Изменение Заявки";
}


<div class="m-1 p-2">
    <div class="container">
        <h4 class="text-center">
            @(Model.Id == 0 ? "Создание Заявки" : "Изменение Заявки")
        </h4>
        <div class="card card-body">

            <partial name="_ValidationScriptsPartial" />

            <form asp-action="AddOrUpdate" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="@Model.Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="@Model.RequestMessage">Опишите вашу проблему</label>
                    <textarea asp-for="@Model.RequestMessage" class="form-control" placeholder="Поле для ввода текста проблемы..."></textarea>
                    <span asp-validation-for="@Model.RequestMessage" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Создать</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>