
@model WorkRequest
@*
    Created: text-info #17a2b8
    InProgress: text-primary #007bff
    Done: text-success #28a745
    Canceled: text-secondary #6c757d
    Deleted/Removed: text-danger #dc3545
*@

<div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
         focusable="false" role="img" aria-label="Placeholder: 32x32">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#007bff"></rect>
        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
    </svg>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">@((Statuses)Model.CurentStatus)</strong>
            <div>
                <form asp-action="DeleteWorkRequest" method="post">
                    <input type="hidden" name="deletedWorkRequestId" value="@Model.Id" />
                    <a asp-action="AddOrUpdate" asp-route-editWorkRequestId="@Model.Id"
                       class="btn btn-sm btn-outline-warning @(Model.CurentStatus != Statuses.Created ? "disabled" : "")"> Edit </a>
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                            @(Model.CurentStatus != Statuses.Created ? "disabled" : "")>
                        Delete
                    </button>
                </form>

            </div>
        </div>
        <span class="d-block">
            <p class="media-body pb-3 mb-0 lh-125 "> @Model.RequestMessage</p>
        </span>
    </div>
</div>